#projects{
    width: 200px;
}

#welcome-section{
height:100%;
min-height:100px;
text-align: center;
}

#projects{
margin-bottom: 1500px;
}

@media only screen and (max-width: 600px) {
    body {
 width: 50%;
    }
  }

#navbar {
    position: fixed;
  }