html,
body {
  font-family: Arial, sans-serif;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}

#navbar {
  height: 10px;
  position: fixed;
}

#welcome-section {
  top: 0;
  min-height: 55vh;
  padding-top: 45vh;
  background-color: salmon
}

@media screen and (max-width: 60px) {
  body {
width: 50%;  }
}

#projects{
    width: 80px;
}

